.toTop {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 50px;
  margin-bottom: 40px;
  padding: 10px 17px;
  border-radius: 10%;
  height: 30px;
  background: rgba($grey, 0.6);
  border: 1px solid $grey;
  text-decoration: none;
  color: $white;
  opacity: 0.8;

  &--disabled {
    display: none;
  }
}

