section.services
    .services__content.wrapper
        h3.services__header services
        .services__features
            +service('coffee', 'services__item-icon--coffee')
            +service('instant', 'services__item-icon--instant')
            +service('serious', 'services__item-icon--serious')
            +service('frame', 'services__item-icon--frame')
