.portfolio__list
    +porfolio-item('portfolio1.jpg')
    +porfolio-item('portfolio2.jpg')
    +porfolio-item('portfolio3.jpg')
    +porfolio-item('portfolio4.jpg')
    +porfolio-item('portfolio5.jpg')
    +porfolio-item('portfolio6.jpg')
    +porfolio-item('portfolio7.jpg')
    +porfolio-item('portfolio8.jpg')
