section.portfolio#portfolio
    .portfolio__container.wrapper
        .portfolio__navigation
            h3.portfolio__header portfolio
            include portfolio-nav
        .portfolio__works
            include portfolio-list
