.portfolio__list
    +porfolio-item('portfolio1.jpg', 'panoramas')
    +porfolio-item('portfolio2.jpg', 'macro')
    +porfolio-item('portfolio3.jpg', 'journal')
    +porfolio-item('portfolio4.jpg', 'panoramas')
    +porfolio-item('portfolio5.jpg', 'portraits')
    +porfolio-item('portfolio6.jpg', 'journal')
    +porfolio-item('portfolio7.jpg', 'portraits')
    +porfolio-item('portfolio8.jpg', 'macro')
