section.who
    .who__container.wrapper
        h3.who__header who is John Doe ?
        .who__content-container
            .who__text-content
                p.who__text Bear claw marzipan bear claw applicake I love muffin. Lemon drops gummi bears pastry gummi bears sesame snaps I love unerdwear.com. Soufflé cotton candy dessert candy ice cream wafer gummies cheesecake brownie.
                p.who__text.who__text--last-text Muffin chutpa chups jelly beans sweet pie applicake. Croissant chocolate cake I love pudding. Ice cream I love powder pudding apple pie marshmallow. Cupcake marzipan oat cake bonbon I love candy canes toffee.
            .who__socials
                p.who__text Pudding dessert jujubes tiramisu gingerbread croissant tiramisu applicake. Sesame snaps sugar plum cotton candy chocolate bonbon lemon drops candy canes cotton candy. Cake toffee pie bear claw pastry.
                section.who__socials-container
                    ul.who__socials-list
                        li.who__social-item.who__social-item--twitter twitter
                        li.who__social-item.who__social-item--google google+
                        li.who__social-item.who__social-item--dribble dribble
                        li.who__social-item.who__social-item--coffee coffee



