nav.main-nav
    ul.main-nav__list
        li.main-nav__list-item: a.main-nav__link.main-nav__link--active home
        li.main-nav__list-item: a.main-nav__link services
        li.main-nav__list-item: a.main-nav__link features
        li.main-nav__list-item: a.main-nav__link portfolio
        li.main-nav__list-item: a.main-nav__link contact
