section.testimonials
       .testimonials__container.wrapper
        h3.testimonials__header testimonials
        div.testimonials__slideshow-section
            div.testimonials__item
                p.testimonials__text Applicake chocolate cake wafer toffee pie soufflé wafer. Tart marshmallow wafer macaroon cheesecake jelly. Gingerbread cookie soufflé sweet roll sweet roll jelly-o.
                cite.testimonials__author - Walter White
            div.testimonials__item
                p.testimonials__text Any man can learn anything he will, but no man can teach except to those who want to learn
                cite.testimonials__author - Henry Ford
            div.testimonials__item
                p.testimonials__text Two things are infinite: the universe and human stupidity; and I'm not sure about the universe.
                cite.testimonials__author - Albert Einstein
            a.testimonials__prev-btn &#10094;
            a.testimonials__next-btn &#10095;
