extends ./layout/main
include ./utils/mixins

block variables
    - var title = 'Landing';

block content
    include includes/header/header
    include includes/services/services
    include includes/portfolio/portfolio
    include includes/default/default
    include includes/twitter/twitter
    include includes/who/who
    include includes/testimonials/testimonials
    include includes/contacts/contacts
    include includes/footer/footer
