extends ./layout/main

block variables
    - var title = 'Landing';
    - var pageClass = 'index-page';
    - var devMode = 'development';
    - var devImagePath = './src/assets/images/';
    - var prodImagePath = './assets/images/';

block content
    include includes/header

