extends ./layout/main
include ./utils/mixins

block variables
    - var title = 'Landing';
    - var devMode = 'development';
    - var devImagePath = './src/assets/images/';
    - var prodImagePath = './assets/images/';

block content
    include includes/header/header
    include includes/services/services
    include includes/portfolio/portfolio
    include includes/default/default
