form.contacts-form
    .contacts-form__group.contacts-form__group--name
        label.contacts-form__label full name
            input.contacts-form__input(type=text)
    .contacts-form__group.contacts-form__group--text
        p.contacts-form__text Jujubes bear claw croissant wafer sweet lemon drops brownie chocolate bar. Sweet lollipop halvah tootsie roll cake fruitcake. Chocolate cake chocolate bar gingerbread lollipop tart. Jujubes bear claw donut chupa chups.
    .contacts-form__group.contacts-form__group--email
        label.contacts-form__label email
            input.contacts-form__input(type=text)
    .contacts-form__group.contacts-form__group--address
        p.contacts-form__text Linda Newman
        p.contacts-form__text W325 State Road 123
        p.contacts-form__text Mondovi, WI(Wisconsin) 98746-54321
        p.contacts-form__text (715) 946 - 1234
    .contacts-form__group.contacts-form__group--message
        label.contacts-form__label message
            textarea.contacts-form__textarea
    .contacts-form__group.contacts-form__group--button
        button.contacts-form__submit-button(type=submit) message
