$lightblue: #4bcaff;
$grey: #515f67;
$white: #fff;
$darkgray: #353f46;
$gray-with-opacity: RGBA(53, 63, 70, 0.85);

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;
// Small tablets (portrait view)
$screen-md-min: 768px;
// Tablets and small desktops
$screen-lg-min: 992px;
// Large tablets and desktops
$screen-xl-min: 1200px;
