.footer-nav {
  &__list {
    margin: 0;
    padding: 0;
    display: inline-flex;
    list-style: none;

  }

  &__list-item {
    font-size: 14px;
    padding: 0 10px;
    border-right: 2px solid $grey;

    &:first-of-type {
      padding-left: 0;
    }

    &:last-of-type {
      padding-right: 0;
      border-right: none;
    }
  }

  &__link {
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
    display: block;
    font-weight: bold;




    &:hover {
      color: $lightblue;
    }
  }

}
