@import "footer-nav";

.main-footer {
  background-color: $darkgray;
  color: $grey;
  padding: 63px 0;

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__copyright {
    margin: 0;
  }

  @media (min-width: 0) and (max-width: 480px) {
    &__container {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
