.site-header {
  display: inline-block;
  color: $white;
  font-size: 42px;
  line-height: 52px;
  font-weight: 200;
  background-color: $gray-with-opacity;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;

  &--first-part {
    margin: 0 auto;
    margin-bottom: 10px;
  }


}

@media (min-width: 0) and (max-width: 480px) {
  .site-header {
    line-height: 30px;
    font-size: 24px;
  }

}

@media (min-width: 481px) and (max-width: 768px) {
  .site-header {
    line-height: 30px;
    font-size: 34px;
  }

}
