.site-header {
  display: inline-block;
  color: $white;
  font-size: 42px;
  line-height: 52px;
  font-weight: 200;
  background-color: $gray-with-opacity;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;

  &--first-part {
    margin: 0 auto;
    margin-bottom: 10px;
  }
}
