.main-nav {
  @include navigation($white);
  display: flex;


  &__toggle {
    width: 32px;
    height: 32px;
    border: 0;
    background-image: url('../assets/images/spritesheet.png');
    background-repeat: no-repeat;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    background-position: -20px -985px;
    display: none;

    &:hover {
      background-position: -20px -1057px;
    }

    &--active {
      background-position: -20px -193px;

      &:hover {
        background-position: -20px -265px;
      }
    }
  }


  @media (min-width: 0) and (max-width: 480px) {
    &__toggle {
      display: block;
    }

    &__list {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: $darkgray;

      &--active {
        display: block;
      }
    }

    &__link {
      padding: 20px;
      text-align: center;
    }

    &__link--active {
      border: none;
    }
  }


}

